<div class="container">
  <div class="card p-4">
    <div class="profile-section">
      <div class="form-section">
        <form (ngSubmit)="update()" #updateUserForm="ngForm">
          <div class="profile-container">
            <div class="profile-image">
              <img [src]="model.photo.url" alt="Profile Image" />
              <input
                type="text"
                name="PhotoUrl"
                [(ngModel)]="updateModel.photo.url"
                class="form-control"
                placeholder="Enter image URL"
              />
            </div>
          </div>
          <div class="row mb-4">
            <div class="col-md-6">
              <input
                type="text"
                name="name"
                [(ngModel)]="updateModel.name"
                class="form-control"
                [placeholder]="model.name"
              />
            </div>
            <div class="col-md-6">
              <input
                type="text"
                name="LastName"
                [(ngModel)]="updateModel.lastName"
                class="form-control"
                [placeholder]="model.lastName"
              />
            </div>
          </div>
          <div class="row mb-4">
            <div class="col-md-4">
              <input
                type="date"
                name="DateOfBirth"
                class="form-control"
                disabled
                [placeholder]="birtDate"
              />
            </div>
            <div class="col-md-4">
              <input
                type="text"
                name="City"
                [(ngModel)]="updateModel.livingPlace.city"
                class="form-control"
                [placeholder]="model.livingPlace.city"
              />
            </div>
            <div class="col-md-4">
              <input
                type="number"
                name="PostCode"
                [(ngModel)]="updateModel.livingPlace.postCode"
                class="form-control"
                [placeholder]="model.livingPlace.postCode"
              />
            </div>
          </div>
          <div class="mb-4">
            <input
              type="text"
              name="Address"
              [(ngModel)]="updateModel.livingPlace.address"
              class="form-control"
              [placeholder]="model.livingPlace.address"
            />
          </div>
          <div class="mb-4">
            <input
              type="email"
              name="Mail"
              [(ngModel)]="updateModel.mail"
              class="form-control"
              [placeholder]="model.mail"
            />
          </div>
          <div class="d-grid">
            <button class="btn btn-primary">Opdater profil</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
