<div class="container">
<div class="title"><h2>For 10 kr. vil du kunne lægge announcer <br> op og sælgt ting, du skal bare registere <br> dit Kredit kort</h2></div><!--gør brug af if statement for nu div-->
<!--<div class="title"><h2>Du har registeret dig til at kunne sælge</h2></div>-->
<div class="linked-cards">
    <h3>Allerede linkede kort:</h3>
    <ul>
        <li>Card ending in 1234</li>
        <li>Card ending in 5678</li>
    </ul>
</div>
<div class="card">
    <form #CreditForm="ngForm" (ngSubmit)="CreateCard()">
        <div class="form-group">
            <div class="input-group">
                <a>kort holders navn</a>
                <input [(ngModel)]="model.Name" name="Name" type="text">
            </div>
            <div class="input-group">
                <a>kort nummer</a>
                <input [(ngModel)]="model.CardNumber" name="CardNumber" type="text" maxlength="16">
            </div>            
            <div class="input-group">
                <a>udløbsdato</a>
                <input [(ngModel)]="model.ExpirationDate" name="ExpirationDate" type="date">
                <a>CVV</a>
                <input [(ngModel)]="model.Cvv" name="Cvv" type="number">
            </div>
        </div>
        <button class="btn btn-primary" >Register</button>
    </form>
</div>
</div>