<div
  class="container d-flex flex-column flex-shrink-0 p-3 bg-dark"
  style="width: 280px; height: 95vh"
>
  <!--bruge style her da hvis jeg gør det gennem min stylesheet vil min sidebar bliver placeret i midden-->
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item">
      <input
        class="search form-control me-2"
        type="search"
        placeholder="Search"
        aria-label="Search"
      />
    </li>
    <li>
      <div class="slider-container">
        <div>
          <label for="minValue">Min:</label>
          <input
            id="minValue"
            type="number"
            [(ngModel)]="minValue"
            (input)="onInputChange()"
          />
        </div>
        <div>
          <label for="maxValue">Max:</label>
          <input
            id="maxValue"
            type="number"
            [(ngModel)]="maxValue"
            (input)="onInputChange()"
          />
        </div>
      </div>
    </li>
    <li>
      <a href="#" class="nav-link link-light"> Kategorier </a>
    </li>
    <hr />
    <li>
      <a href="#" class="nav-link link-light"> Køretøjer </a>
    </li>
    <li>
      <a href="#" class="nav-link link-light"> Legetøj </a>
    </li>
    <li>
      <a href="#" class="nav-link link-light"> Service </a>
    </li>
    <li>
      <a href="#" class="nav-link link-light"> Møbler </a>
    </li>
    <li>
      <a href="#" class="nav-link link-light"> Haveredskaber </a>
    </li>
    <li>
      <a href="#" class="nav-link link-light"> Cykler </a>
    </li>
    <li>
      <a href="#" class="nav-link link-light"> Børneudstyr </a>
    </li>
  </ul>
</div>
<div class="mainContainer">

  <div *ngIf="loading" class="text-center">
    <div class="spinner-border text-primary" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>

  <div class="row" *ngIf="items && items.length > 0; else noItems">
    <div 
      class="col-12 col-sm-6 col-md-1 col-lg-2"
      style="max-width: 19.8%"
      *ngFor="let item of items"
    >
      <div class="card" routerLink="/ViewItem/{{ item.id }}">
        <img
          [src]="getMainPhoto(item.itemPhotos)"
          class="card-img-top"
          [alt]="item.title"
        />
        <div class="card-body">
          <h5 class="card-title">{{ item.price }} kr</h5>
        </div>
      </div>
    </div>
  </div>
  <ng-template #noItems>
    <div class="text-center">
      <p>No items available.</p>
    </div>
  </ng-template>
</div>
