.container {
  width: 280px;
  height: 95vh;
  position: fixed;
  left: 0;
}
hr {
  color: white;
}
h2 {
  color: white;
}
.content {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  height: 93vh; /* Take up most of the viewport height */
  margin-left: 280px; /* Leave space for the fixed container */
  overflow: auto; /* Prevent content from scrolling or overflowing */
  box-sizing: border-box; /* Include padding and borders in dimensions */
  flex-wrap: nowrap; /* Prevent wrapping of children if using flexbox */
}
