.container {
  width: 280px;
  height: 95vh;
  position: fixed;
  left: 0;
}
hr {
  color: white;
}
h2{
    color: white;
}
.content{
  display: flex;
  justify-content: center;  /* Center horizontally */
  align-items: center;      /* Center vertically */
  height: 94vh;            /* Take up the full height of the viewport */
}