<div class="modal-header">
  <h4 class="modal-title pull-left">{{ item.title }}</h4>
  <button
    type="button"
    class="btn-close close pull-right"
    (click)="bsModalRef.hide()"
  >
    <span class="visually-hidden">&times;</span>
  </button>
</div>
<form #UpdateItemForm="ngForm" (ngSubmit)="update()">
  <div class="modal-body">
    <div class="form-container">
      <div class="input-group">
        <input
          name="title"
          [(ngModel)]="item.title"
          type="text"
          [placeholder]="item.title"
        />
        <input
          name="price"
          type="text"
          [(ngModel)]="item.price"
          [placeholder]="item.price"
        />
      </div>
      <textarea
        name="description"
        type="text"
        [(ngModel)]="item.description"
        [placeholder]="item.description"
      ></textarea>
    </div>
    <hr />
    <h3>tilføj eller fjern billder</h3>
    <button disabled>add foto</button>
    <!-- foreach loop
        <img src="" alt="">
        -->
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary w-100 mt-3" (click)="bsModalRef.hide()">Annuller</button>
    <button class="btn btn-primary w-100 mt-3" (click)="hideModal()">Gem</button>
  </div>
</form>
