.mainContainer {
  display: flex;
  justify-content: flex-start; /* Align items to the start (left) */
  align-items: center;
  padding-top: 60px;
  padding-left: 20px; /* Adjust as needed for spacing */
}

.card {
  position: relative;
  border: 1px solid black;
  height: 200px;
  width: 200px;
  overflow: hidden;
  margin: 10px;
}

.card img {
  width: 100%;
  height: auto;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1; /* Ensures the image is behind other elements */
}

.card h5 {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 8px 12px;
  text-decoration: none;
  background-color: rgba(
    255,
    255,
    255,
    0.8
  ); /* Optional for better readability */
  z-index: 2;
}

.icon {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 24px;
  height: 24px;
  z-index: 3; /* Higher z-index to appear in front of the image */
  cursor: pointer; /* Optional for interactivity */
}
