<div class="card-container">
  <div class="card bg-dark text-white p-4">
    <h2 class="text-center">Register!</h2>
    <form #registerForm="ngForm" (ngSubmit)="register()" class="mt-3">
      <div class="input-group mb-3 flex-column">
        <label class="form-label">Fornavn</label>
        <input
          [(ngModel)]="model.name"
          name="Name"
          type="text"
          class="form-control"
          required
          #name="ngModel"
        />
        <div *ngIf="name.invalid && name.touched" class="text-danger">
          Fornavn is required.
        </div>
      </div>

      <div class="input-group mb-3 flex-column">
        <label class="form-label">Efternavn</label>
        <input
          [(ngModel)]="model.lastName"
          name="LastName"
          type="text"
          class="form-control"
          required
          #lastName="ngModel"
        />
        <div *ngIf="lastName.invalid && lastName.touched" class="text-danger">
          Efternavn is required.
        </div>
      </div>

      <div class="input-group mb-3 flex-column">
        <label class="form-label">Mail</label>
        <input
          [(ngModel)]="model.mail"
          name="Mail"
          type="email"
          class="form-control"
          required
          #mail="ngModel"
        />
        <div *ngIf="mail.invalid && mail.touched" class="text-danger">
          A valid email is required.
        </div>
      </div>

      <div class="input-group mb-3 flex-column">
        <label class="form-label">Password</label>
        <input
          [(ngModel)]="model.password"
          name="Password"
          type="password"
          class="form-control"
          required
          #password="ngModel"
        />
        <div *ngIf="password.invalid && password.touched" class="text-danger">
          Password is required.
        </div>
      </div>
      <div class="input-group mb-3 flex-column">
        <label class="form-label">Gentag Password</label>
        <input
          name="ConfirmPassword"
          type="password"
          class="form-control"
          required
          #confirmPasswordInput
          (input)="checkPasswords(password.value, confirmPasswordInput.value)"
        />
        <div *ngIf="passwordMismatch" class="text-danger">
          Passwords do not match.
        </div>
      </div>

      <div class="input-group mb-3 flex-column">
        <label class="form-label">Fødselsdato</label>
        <input
          name="DateOfBirth"
          [(ngModel)]="model.dateOfBirth"
          type="date"
          class="form-control"
          required
          #dateOfBirth="ngModel"
        />
        <div
          *ngIf="dateOfBirth.invalid && dateOfBirth.touched"
          class="text-danger"
        >
          Fødselsdato is required.
        </div>
      </div>

      <!-- Living Group with 60/40 ratio -->
      <div class="row mb-3 livingGroup">
        <div class="col-7">
          <label class="form-label">By</label>
          <input
            [(ngModel)]="model.city"
            name="City"
            type="text"
            class="form-control"
            required
            #city="ngModel"
          />
          <div *ngIf="city.invalid && city.touched" class="text-danger">
            By is required.
          </div>
        </div>
        <div class="col-5">
          <label class="form-label">Postnummer</label>
          <input
            [(ngModel)]="model.postCode"
            name="PostCode"
            type="text"
            class="form-control"
            required
            #postCode="ngModel"
          />
          <div *ngIf="postCode.invalid && postCode.touched" class="text-danger">
            Postnummer is required.
          </div>
        </div>
      </div>

      <!-- Address -->
      <div class="input-group mb-3 flex-column">
        <label class="form-label">Addresse og vejnummer</label>
        <input
          type="text"
          [(ngModel)]="model.address"
          name="Address"
          class="form-control"
          required
          #address="ngModel"
        />
        <div *ngIf="address.invalid && address.touched" class="text-danger">
          Address is required.
        </div>
      </div>
      <!-- Register Button -->
      <button class="btn btn-primary w-100" [disabled]="registerForm.invalid">
        Register
      </button>
    </form>
  </div>
</div>
