.container {
    width: 400px;
    height: 95vh;
    position: fixed;
    right: 0;
  }
  .search {
    border-radius: 45px;
  }
  
  hr{
      color: white;
  }

  .ProductDetails{
    border: solid;
    border-color: white;
    height: 600px;
  }
  .Save svg{
    width: 30px;
    color: white;
    height: auto;
  }
  :host ::ng-deep .carousel-control-prev-icon,
  :host ::ng-deep .carousel-control-next-icon {
    background-color: #007bff; /* Blue background */
    width: 40px;
    height: 40px;
  }

  .carousel-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh; // Ensures vertical centering
    width: 90vw; // Ensures horizontal centering
  }
  
  .carousel-wrapper {
    max-width: 90%; // Increases the carousel width
    max-height: 80%; // Increases the carousel height
    height: 600px; // Sets a larger height for the carousel
    width: 2000px; // Sets a larger width for the carousel
  }

  .image-wrapper {
    width: 100%; // Matches the carousel's width
    height: 100%; // Matches the carousel's height
    display: flex; // Ensures the image centers properly
    justify-content: center;
    align-items: center;
  }
  
  .carousel-image {
    max-width: 100%; // Prevents the image from exceeding the wrapper's width
    max-height: 100%; // Prevents the image from exceeding the wrapper's height
    object-fit: contain; // Adjusts the image to fit within the wrapper
  }