<div
  class="container d-flex flex-column flex-shrink-0 p-3 bg-dark">
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item">
      <div class="Title">
        <a class="nav-link link-light">{{item?.title}}</a>
      </div>
    </li>
    <li>
      <div class="Price">
        <a class="nav-link link-light">{{item?.price}}</a>
      </div>
    </li>
    <li>
      <div class="Date">
        <a class="nav-link link-light">{{item?.createdAt}}</a>
      </div>
    </li>
    <hr/>
    <li>
      <div class="Save">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
          <path fill-rule="evenodd" d="M6.32 2.577a49.255 49.255 0 0 1 11.36 0c1.497.174 2.57 1.46 2.57 2.93V21a.75.75 0 0 1-1.085.67L12 18.089l-7.165 3.583A.75.75 0 0 1 3.75 21V5.507c0-1.47 1.073-2.756 2.57-2.93Z" clip-rule="evenodd" />
        </svg>            
        <button (click)="Save(item?.id)" class="nav-link link-light">Gem i Liste</button>        
      </div>
    </li>
    <hr />
    <li>
      <div class="ProductDetails">
        <a class="nav-link link-light"> Detaljer </a>
        <a class="nav-link link-light">{{item?.description}}</a>
      </div>
    </li>
    <li>
      <div class="City">
        <a class="nav-link link-light"> {{item?.city}} </a>
      </div>
    </li>
    <hr/>
    <li>
      <div class="Name">
        <a class="nav-link link-light"> {{item?.name}} + {{item?.lastName}} </a>
      </div>
    </li>
  </ul>
</div>
<div class="carousel-container" *ngIf="item?.itemPhotos">
  <carousel *ngIf="isBrowser" [interval]="0" class="carousel-wrapper">
    <slide *ngFor="let photo of item?.itemPhotos">
      <div class="image-wrapper">
      <img [src]="photo" alt="Image" class="carousel-image">
    </div>
    </slide>
  </carousel>
</div>