.container {
    width: 400px;
    height: 95vh;
    position: fixed;
    right: 0;
  }
  .search {
    border-radius: 45px;
  }
  
  hr{
      color: white;
  }

  .ProductDetails{
    border: solid;
    border-color: white;
    height: 600px;
  }
  .Save svg{
    width: 30px;
    color: white;
    height: auto;
  }
